.button {
    padding: 17px 52px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    background: #2F418A;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}
