.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 45px 0;

    width: 100%;

    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
    line-height: 16px;

    color: #BABABA;;
    background: #F8F9FA;
}
.logo {
    margin-bottom: 16px;
}
